body{
    font-size: 15px;
    line-height: 1.5;

}

header, main, footer{
    margin: 1.25rem auto;
    max-width: 760px;
    font-family: 'Open Sans', sans-serif;
    flex-wrap: wrap;
}

header{
    background-color: aqua;
    color: #000;
    text-align: center;
    padding: 1.5rem;
    
}

header{
    display: flex;
}
.name{
    font-size: 50px;
    padding: 1.5rem;
}


footer{
    text-align: center;
    background-color: aqua;
}
img{
    margin: 10px;
    border: 2px solid #000;
}
.name{
    flex-wrap: wrap;
}