body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #ddd0c8;
}

/*Header CSS..............*/
header {
  display: grid;
  grid-template-columns: 4fr 2fr 1fr;
  grid-template-rows: 1fr;
  background-color: #3a8c8c;
  padding: 0.8rem;
}

header #header-logo img {
  width: 60px;
  height: auto;
}

.img-name {
  display: flex;
  
}
.chamber-name {
  margin-left: 5px;
}

.socials img {
  width: 30px;
  height: auto;
  justify-content: center;
}
.chamber-name h1 {
  font-size: 20px;
}

.header-date {
  max-width: 100%;
  text-align: center;
  font-size: 2rem;
  background-color: #323232;
  color: white;
  margin-top: 5px;
  grid-column: 1/4;
  padding: 2px;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*nav{
    background-color: #eee;
}*/
nav button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: auto;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #333;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
  
  color: #ffff;
}
nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul {
  display: none;
}
nav ul.open {
  display: block;
}

#humburgerbtn span:nth-child(1) {
  display: block;
}
#humburgerbtn span:nth-child(2) {
  display: none;
}

#humburgerbtn.open span:nth-child(1) {
  display: none;
}
#humburgerbtn.open span:nth-child(2) {
  display: block;
}

/*Main CSS*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  gap: 10px; /* add a gap between grid items */
  padding: 20px;
  color: #fff;
  text-align: center;
  background-color: #083667;
  min-height: 820px;
}
.grid-container > div, .spotlight > div {
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 10px;

}
hr {
  border-style: solid;
}


.spotlight {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row: 6/8;
}
.spot3 {
  display: none;
}


/*Footer CSS*/
footer {
  padding: 0.8rem;
  text-align: center;
  background-color: #3a8c8c;
}

footer img {
  width: 100px;
  height: auto;
  padding: 5px;
  font-size: 10px;
}

h1
h2 {
  font-family: 'Instrument Serif', serif;
}
footer,
p {
  font-size: 10px;
  font-family: 'Roboto Slab', serif;

}



