@media only screen and (min-width: 35rem) {
    #navigation{
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }


    section.summary h2{
        font-size: 25px;
    }
    section.summary p{
        font-size: 15px;
    }
    section.site-weather div.weather h2 {
        font-size: 25px;
    }
    section.site-weather, div#forecast-container, div.forecast-item p {
        font-size: 15px;
    }
    .specialty h2 {
        font-size: 25px;
        text-align: center;
        
    }
    .about h2 {
        font-size: 25px;
    }
    .about section.all-about-us {
        font-family: 'Roboto Slab', serif;
        font-size: 23px;
    }

    nav ul li a{
        text-align: center;
        padding-right: 40px;
        margin-right: 40px;
        font-size: 40px;
        justify-content: center;
        align-items: center;
    }
    button {
        display: none;
    }
    .mainheader {
        /* display: contents; */
        display: flex;
        /* grid-template-columns: 1fr 1fr; */
    }
    .mainheader .socials {
        text-align: right;
        margin-left: 5rem;
        margin-top: 40px;
    }

    .mainheader .socials img {
        float: right;
        width: 100px;
    }
   
    .header-details img {
        width: 200px;
    }
    .header-name {
        font-size: 40px;
        
    }
        
    .home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .sidebar {
        display: contents;
        display: contents;
        width: 200px; 
        height: 100vh;
        background-color: #f3dcd1;
        padding: 20px;
        text-align: center;
        margin-right: 20px;
    }
    .sidebar .image-container .text-overlay p {
        font-size: 50px;
    }
    .image-container {
        position: relative;
        
    }
    .sidebar img {
        max-width: 100%;
        max-height: 400px;
        padding: 10px;
        object-fit: contain;
    }
    .overlay-text {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(65, 57, 57); 
        color: white; 
        padding: 10px;
    }
    .image-card1,
    .call-to-action {
        margin-right: 10px;
    }
    #call-to-action {
        grid-column: 2/3;
    }
    .site-weather {
        grid-column: 1/2;
        grid-row: 2/3;
    } 

    .site-weather .weather #current-temp {
        font-size: 50px;
    }
    .celcius {
        font-size: 40px;
    }
    .site-weather .weather .weather-icon img {
        width: 100px;
    }
    figcaption {
        font-size: 25px;
    }

    main .about {
        display: flex;
        max-width: 100%;
    }

    .infomation {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .site-weather {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    


    /*---------------AAbout Us---------*/
    .contact form {
        justify-content: center;
        align-items: center;
    }

    .contact textarea {
        height: 250px;
    }
    
    .contact form label {
        font-weight: 700;
       
    }
    label, textarea { 
        width: 450px;
        
    }
    
    .contact #submit {
        padding: 10px;
        border-radius: 10px;
        font-weight: 700;
        margin: 15px;
    }
    .contact form input, .contact textarea {
        width: 400px;
        height: 20px;
        
    }
    .contact textarea {
        width: 400px;
        height:150px;
    }
    .all-about-us {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    /*------------Fresh---------*/
    .specialty form {
        justify-content: center;
        align-items: center;
    }

    .specialty textarea {
        height: 250px;
    }
    
    .specialty form label {
        font-weight: 700;
       
    }
    .specialty label, textarea { 
        width: 450px;
        
    }
    
    .specialty #submit {
        padding: 10px;
        border-radius: 10px;
        font-weight: 700;
        margin: 15px;
    }
    .specialty form input, .specialty textarea {
        width: 400px;
        height: 20px;
        
    }
    .specialty textarea {
        width: 400px;
        height:150px;
    }
    #fruit1,
    #fruit2,
    #fruit3 {
        width: 25rem;
    }
    .specialty div.info-card {
        text-align: center;
    }
}