body {
    text-align: center;
    background-color: rgb(147, 197, 250);
    font-size: .9rem;
    min-height: 100vh;    
}
header, footer {
    background-color: rgb(205, 231, 255);
    height: 10rem;
    justify-items: center;
    
    border: 1px solid black;
    padding: 10px;
}
header {
    font-size: 2rem;
    
}
footer {
    height: 5rem;
}

figure img {
    width: 7em;
   border: 2px solid #0000;
}

